.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
}

.main-section {
  margin-top: 2% !important;
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (max-width: 575.98px) {
  .main-section {
    margin-top: 2% !important;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
  .main-section {
    margin-top: 2% !important;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
 }
 @media (min-width: 768px) and (max-width: 991.98px) { 
  .main-section {
    margin-top: 2% !important;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  }

.input-group>.form-control, .input-group>.form-select {
  position: relative;
  flex: 1 1 auto;
  /* width: inherit !important;
  min-width: 0;
  margin-bottom: 0.7rem !important; */
}

.btn-outline-secondary {
  color: #fff !important;
  background-color: #0096fb !important;
  border-color: #0096fb !important;
}

.table td {
  border: none;
  padding: .2rem .5rem !important;
}
.width-auto {
  width:auto !important;
}
.margin-left-1 {
  margin-left:1rem;
}
.filter-btn {
    width: fit-content !important;
    text-align: right;
    float: right;
    margin-left: auto;
}
.text-right {
  text-align: right
}
.d-content {
  display: contents !important;
}
a {
  color: #0096fb  !important;
  cursor: pointer;
}
.pad-l-0 {
  padding-left: 0px !important;

}
.pad-t-1 {
  padding-top: 1rem;
}
.right {
  float: right;
}