.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .scrollbar { */
  /* max-height: 50vh; */
  /* overflow-y: scroll; */
/* } */

.thumbnail_img {
  border-radius: 50% !important;
  padding: 0% !important;
  height: fit-content;
  /* max-width: 50% !important;
  max-height: 50% !important; */
}

.col{
  --bs-gutter-y: 5px !important;
  /* --bs-gutter-x: 4px !important; */
}
.row{
  margin-right: 10px !important;
  --bs-gutter-x: 4px !important;
  /* --bs-gutter-y: 0 !important; */
}

#overlay-id{
  margin-left: 5px !important;
  margin-right: 5px !important;
}


#name-tooltip  {
  inset: 0px auto auto 0px !important;
}

#name-tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border-radius: 0px !important;
  /* border: 1px solid #296D80; */
  word-break: "break-all";
  max-width: 125px !important;
}

#name-tooltip > .tooltip-arrow {
  /* color: #296D80; */
  display: none;
  /* border-top: 5px solid #296D80; */
}

.MuiAccordionSummary-content, .Mui-expanded{
  justify-content: center;
  margin: 0 !important;
}

.MuiAccordionSummary-root, .Mui-expanded{
  /* margin: 0 !important; */
  /* min-height: 0 !important; */
}

.MuiButtonBase-root, .Mui-expanded{
  /* padding: 0 !important; */
}

.MuiAccordionDetails-root{
  padding: 0 !important;
}

.btn, .btn-outline-none {
    box-shadow: none !important;
    /* padding: 0px !important; */
    COLOR: #296D80 !important;
}

/* .inline-flex {
  display: inline-flex !important; 
} */

/* .summary-section {
  display: grid;
  margin-top: 1rem;
} */

.collapsible-b {
  justify-content: center;
  box-shadow: none !important;
  /* padding: 0px !important; */
  COLOR: #296D80 !important;
  background: none;
  /* color: white; */
  cursor: pointer;
  padding: 15px;
  padding-bottom: inherit;
  width: 100%;
  border: none;
  text-align: -webkit-center;
  outline: none;
  /* font-size: 15px; */
}
.active, .collapsible-b:hover {
  /* background-color: #555; */
}
.collapsible-content {
  padding: 0 10px;
  /* set max height according to the iframe size*/
  max-height: 45px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #f1f1f1; */
}

/* -------------------------------------- */

.grid-item > ul{
  margin-bottom: 0 !important;
}

ul{
  list-style: none outside;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 0 !important;
}

@media(min-width: 768px){
  .logo-list{
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
  }
}

.logo-list{
  display: inline-block;
  list-style: none outside;
  vertical-align: top;
  text-align: left;
  /* set margin according to iframe size*/
  margin-bottom: 0.41em !important;
}

.logo-list > li {
  display: inline-block;
  margin-right: 4px;
  width: 22%;
}

li{
  margin-bottom: 0 !important;
  text-align: -webkit-match-parent;
}

a{
  text-decoration: none !important;
  background: 0 0;
}

a > img{
  border: 0 none;
}